

.habilidades-paszamine {
    width: 100%;
    height: 100%;
    background-color: #DDDDDD;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.habilidades-paszamine h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 2vw;
    line-height: 57px;
    display: flex;
    align-items: center;
    color: #2f67b5bb;
    font-family: 'Signika Negative', sans-serif;
}

.habilidades-paszamine .habilidades {
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
}
.Habilidad-paszamine {
    width: 17vw;
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 8vw;
}
.Habilidad-paszamine h3 {
    margin-left: 5px;
    font-family: 'Signika Negative', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1vw;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #235fb9;
}

.Habilidad-paszamine .darsad-p {
    width: 100%;
    height: 1vw;
    border-radius: 8px;
    border: solid .5px #235fb9;
}
.Habilidad-paszamine .darsad-p div {
    width: 1px;
    height: 100%;
    border-radius: 8px 0 0 8px;
    background-color: #00337C;
    transition: all 1s;
}