.informacion-paszamine {
    width: 100%;
    height: 100%;
    background-color: #DDDDDD;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Signika Negative', sans-serif;
}
.informacion-paszamine .informacion {
    width: 25%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 100px;
    margin-bottom: 10vh;

}

.informacion h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 2vw;
    line-height: 57px;
    display: flex;
    align-items: center;
    color: #235fb9;
}
.informacion h3 {
    font-style: normal;
    font-weight: 300;
    font-size: 1vw;
    line-height: 33px;
    color: #235fb9;
    margin-top: 1vh;
}
.informacion p {
    font-style: normal;
    font-weight: 600;
    font-size: 1.8vw;
    line-height: 45px;
    color: #00337C;
    margin-bottom: .5vh;
}
.informacion h2 {
    font-style: normal;
    font-weight: 300;
    font-size: 1.2vw;
    line-height: 33px;
    color: #235fb9;
}
.informacion .idiomas-p {
    font-style: normal;
    font-weight: 600;
    font-size: 2vw;
    line-height: 45px;
    color: #00337C;
    margin-top: 2.5vh;
}