
.proyectos-paszamine {
    width: 100%;
    height: 100%;
    background-color: #DDDDDD;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Signika Negative', sans-serif;
}
.proyectos-paszamine .tup {
    background-color: #EEEEEE;
    border-radius: 2000px;
    position: absolute;
    z-index: 0;
}

.proyectos-paszamine .proyectos {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.proyectos-paszamine .proyecto-paszamine {
    width: 20vw;
   
    background: #d6d6d6;
    box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.473);
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    padding-bottom: 2vh;
    
}

.proyecto-paszamine img {
    width: 100%;
    height: 30vh;
    border-radius: 18px 18px 0 0;
}
.proyecto-paszamine h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 1vw;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #235fb9;
    margin: 1% 0 0 4%;
}
.proyecto-paszamine h2 {
    font-style: normal;
    font-weight: 600;
    font-size: .7vw;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #235fb9;
    margin: 1% 0 0 4%;
}

.proyecto-paszamine div .a1 img {
    width: 20px;
    height: 8px;
    margin-left: 5px;
}

.proyecto-paszamine div {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
}

.proyecto-paszamine .a1 {
    font-style: normal;
    font-weight: 600;
    font-size: .8vw;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #235fb9;
    text-decoration: none;
}

.proyecto-paszamine .a2 {
    background: #00337C;
    border-radius: .2vw;
    border: 0;
    padding: .4vh 1.3vw .4vh  1.5vw;
    font-style: normal;
    font-weight: 600;
    font-size: .7vw;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #ffffff;
}

.visitar-paszamine {
    width: 100vw;
    height: 100vh;
    background-color: #DDDDDD;
    position: absolute;
    z-index: 20;
    top: -20vh;
    left: 0;
   
    
}
.visitar-paszamine a {
    color: #00337C;
    font-size: 1.5vw;
    margin-bottom: 20px;
    margin-left: 10px;
}

.visitar-paszamine h1 {
    color: #E2E2E2;
    font-size: 1.5vw;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.visitar-paszamine .discripcion {
    width: 50vw;
    color: #00337C;
    font-size: 2vw;
    margin-bottom: 20px;
    margin-bottom: 30px;
    line-height: 4vh;
}

